/*desktop view*/
.a
{
  text-align: center;
}
.a img{
  width: 30%;
}
    .b
    {
      top:3%;
      width:20%;
      padding-left: 40%;
  }
    .g{
      bottom:0%;
      left:0%;
      width: 100%;
    }
    ul{
      list-style-type:none;
      background-color:black;
      padding:0;
      margin:0;
      overflow:hidden;
      width:100%;
      min-height:40px;  
    }
    li{
      float:left;
      padding-top:10px;
    }
    li a{
      padding:14px 20px;
      text-decoration:none;
      color: white;
    }
    .servicescontainer{
    width: 98%;
    text-align: center;
    display: flex;
    flex-direction: row;
    margin: 1%;
  }
  .datadivision{
    width: 50%;
    margin: 1%;
    padding: 1%;
    border: 2px solid grey;
    border-radius: 5%;
    background-color: white;
    color: blue;
  }
  .datadivision img{
    width: 200px;
    height: 150px;
    border-radius: 30px;
  }
  footer
  {
    color:#0000e6;
    margin-top:5%;
    text-align: center;
    background-color: #66CC99;
    border-radius: 30px;
  }
  /*mobile view*/
  @media only screen and (min-width: 320px) and (max-width: 767px){
.a
{
  text-align: center;
}
.a img{
  width: 30%;
}
    .b
    {
      top:3%;
      width:20%;
      padding-left: 40%;
  }
    .g{
      bottom:0%;
      left:0%;
      width: 100%;
    }
    ul{
      list-style-type:none;
      background-color:black;
      padding:0;
      margin:0;
      overflow:hidden;
      width:100%;
      min-height:40px;  
    }
    li{
      float:left;
      padding-top:10px;
    }
    li a{
      padding:14px 20px;
      text-decoration:none;
      color: white;
    }
    .servicescontainer{
    width: 98%;
    text-align: center;
    /flex properties/
    display: flex;
    flex-direction: column;
    margin: 1%;
  }
  .datadivision{
    width: 80%;
    margin: 1%;
    padding: 1%;
    border: 2px solid grey;
    border-radius: 5%;
    background-color: white;
    color: blue;
  }
  .datadivision img{
    width: 200px;
    height: 150px;
    border-radius: 30px;
  }
  footer
  {
    color:#0000e6;
    margin-top:5%;
    text-align: center;
    background-color: #66CC99;
    border-radius: 30px;
  }
}
/*laptop view*/
@media only screen and (min-width: 768px) and (max-width: 1023px){
	.a
{
  text-align: center;
}
.a img{
  width: 30%;
}
    .b
    {
      top:3%;
      width:20%;
      padding-left: 40%;
  }
    .g{
      bottom:0%;
      left:0%;
      width: 100%;
    }
    ul{
      list-style-type:none;
      background-color:black;
      padding:0;
      margin:0;
      overflow:hidden;
      width:100%;
      min-height:40px;  
    }
    li{
      float:left;
      padding-top:10px;
    }
    li a{
      padding:14px 20px;
      text-decoration:none;
      color: white;
    }
    .servicescontainer{
    width: 98%;
    text-align: center;
    /flex properties/
    display: flex;
    flex-direction: column;
    margin: 1%;
  }
  .datadivision{
    width: 90%;
    margin: 1%;
    padding: 1%;
    border: 2px solid grey;
    border-radius: 5%;
    background-color: white;
    color: blue;
  }
  .datadivision img{
    width: 200px;
    height: 150px;
    border-radius: 30px;
  }
  footer
  {
    color:#0000e6;
    margin-top:5%;
    text-align: center;
    background-color: #66CC99;
    border-radius: 30px;
  }
}
/*desktop view*/
/*sports rules*/
	.a
{
  text-align: center;
}
.a img{
  width: 50%;
}
    .b
    {
      top:3%;
      width:20%;
      padding-left: 40%;
  }
    .g{
      bottom:0%;
      left:0%;
      width: 100%;
    }
    ul{
      list-style-type:none;
      background-color:black;
      padding:0;
      margin:0;
      overflow:hidden;
      width:100%;
      min-height:40px;  
    }
    li{
      float:left;
      padding-top:10px;
    }
    li a{
      padding:14px 20px;
      text-decoration:none;
      color: white;
    }
    .servicescontainer{
    width: 98%;
    text-align: center;
    /flex properties/
    display: flex;
    flex-direction: row;
    margin: 1%;
  }
  .datadivision{
    width: 90%;
    margin: 1%;
    padding: 1%;
    border: 2px solid grey;
    border-radius: 5%;
    background-color: white;
    color: blue;
  }
  .datadivision img{
    width: 200px;
    height: 150px;
    border-radius: 30px;
  }
  footer
  {
    color:#0000e6;
    margin-top:5%;
    text-align: center;
    background-color: #66CC99;
    border-radius: 30px;
  }
  /*mobile view*/
    @media only screen and (min-width: 320px) and (max-width: 767px){
    	.a
{
  text-align: center;
}
.a img{
  width: 50%;
}
    .b
    {
      top:3%;
      width:20%;
      padding-left: 40%;
  }
    .g{
      bottom:0%;
      left:0%;
      width: 100%;
    }
    ul{
      list-style-type:none;
      background-color:black;
      padding:0;
      margin:0;
      overflow:hidden;
      width:100%;
      min-height:40px;  
    }
    li{
      float:left;
      padding-top:10px;
    }
    li a{
      padding:14px 20px;
      text-decoration:none;
      color: white;
    }
    .servicescontainer{
    width: 98%;
    text-align: center;
    /flex properties/
    display: flex;
    flex-direction: column;
    margin: 1%;
  }
  .datadivision{
    width: 90%;
    margin: 1%;
    padding: 1%;
    border: 2px solid grey;
    border-radius: 5%;
    background-color: white;
    color: blue;
  }
  .datadivision img{
    width: 200px;
    height: 150px;
    border-radius: 30px;
  }
  footer
  {
    color:#0000e6;
    margin-top:5%;
    text-align: center;
    background-color: #66CC99;
    border-radius: 30px;
  }
}
/*laptop view*/
@media only screen and (min-width: 768px) and (max-width: 1023px){
	  		.a
{
  text-align: center;
}
.a img{
  width: 50%;
}
    .b
    {
      top:3%;
      width:20%;
      padding-left: 40%;
  }
    .g{
      bottom:0%;
      left:0%;
      width: 100%;
    }
    ul{
      list-style-type:none;
      background-color:black;
      padding:0;
      margin:0;
      overflow:hidden;
      width:100%;
      min-height:40px;  
    }
    li{
      float:left;
      padding-top:10px;
    }
    li a{
      padding:14px 20px;
      text-decoration:none;
      color: white;
    }
    .servicescontainer{
    width: 70%;
    text-align: center;
    /flex properties/
    display: flex;
    flex-direction: column;
    margin: 1%;
  }
  .datadivision{
    width: 98%;
    margin: 1%;
    padding: 1%;
    border: 2px solid grey;
    border-radius: 5%;
    background-color: white;
    color: blue;
  }
  .datadivision img{
    width: 200px;
    height: 150px;
    border-radius: 30px;
  }
  footer
  {
    color:#0000e6;
    margin-top:5%;
    text-align: center;
    background-color: #66CC99;
    border-radius: 30px;
  }
}
/*desktop view*/
  	.a
{
  text-align: center;
}
.a img{
  width: 50%;
}
    .b
    {
      top:3%;
      width:20%;
      padding-left: 40%;
  }
    .g{
      bottom:0%;
      left:0%;
      width: 100%;
    }
    ul{
      list-style-type:none;
      background-color:black;
      padding:0;
      margin:0;
      overflow:hidden;
      width:100%;
      min-height:40px;  
    }
    li{
      float:left;
      padding-top:10px;
    }
    li a{
      padding:14px 20px;
      text-decoration:none;
      color: white;
    }
    .servicescontainer{
    width: 98%;
    text-align: center;
    /flex properties/
    display: flex;
    flex-direction: row;
    margin: 1%;
  }
  .datadivision{
    width: 90%;
    margin: 1%;
    padding: 1%;
    border: 2px solid grey;
    border-radius: 5%;
    background-color: white;
    color: blue;
  }
  .datadivision img{
    width: 200px;
    height: 150px;
    border-radius: 30px;
  }
  footer
  {
    color:#0000e6;
    margin-top:5%;
    text-align: center;
    background-color: #66CC99;
    border-radius: 30px;
  }
  /*mobile view*/
   @media only screen and (min-width: 320px) and (max-width: 767px){
   	 	.a
{
  text-align: center;
}
.a img{
  width: 50%;
}
    .b
    {
      top:3%;
      width:20%;
      padding-left: 40%;
  }
    .g{
      bottom:0%;
      left:0%;
      width: 100%;
    }
    ul{
      list-style-type:none;
      background-color:black;
      padding:0;
      margin:0;
      overflow:hidden;
      width:100%;
      min-height:40px;  
    }
    li{
      float:left;
      padding-top:10px;
    }
    li a{
      padding:14px 20px;
      text-decoration:none;
      color: white;
    }
    .servicescontainer{
    width: 98%;
    text-align: center;
    /flex properties/
    display: flex;
    flex-direction: column;
    margin: 1%;
  }
  .datadivision{
    width: 90%;
    margin: 1%;
    padding: 1%;
    border: 2px solid grey;
    border-radius: 5%;
    background-color: white;
    color: blue;
  }
  .datadivision img{
    width: 200px;
    height: 150px;
    border-radius: 30px;
  }
  footer
  {
    color:#0000e6;
    margin-top:5%;
    text-align: center;
    background-color: #66CC99;
    border-radius: 30px;
  }
}
/*laptop view*/
@media only screen and (min-width: 768px) and (max-width: 1023px){
		 	.a
{
  text-align: center;
}
.a img{
  width: 50%;
}
    .b
    {
      top:3%;
      width:20%;
      padding-left: 40%;
  }
    .g{
      bottom:0%;
      left:0%;
      width: 100%;
    }
    ul{
      list-style-type:none;
      background-color:black;
      padding:0;
      margin:0;
      overflow:hidden;
      width:100%;
      min-height:40px;  
    }
    li{
      float:left;
      padding-top:10px;
    }
    li a{
      padding:14px 20px;
      text-decoration:none;
      color: white;
    }
    .servicescontainer{
    width: 70%;
    text-align: center;
    /flex properties/
    display: flex;
    flex-direction: column;
    margin: 1%;
  }
  .datadivision{
    width: 90%;
    margin: 1%;
    padding: 1%;
    border: 2px solid grey;
    border-radius: 5%;
    background-color: white;
    color: blue;
  }
  .datadivision img{
    width: 200px;
    height: 150px;
    border-radius: 30px;
  }
  footer
  {
    color:#0000e6;
    margin-top:5%;
    text-align: center;
    background-color: #66CC99;
    border-radius: 30px;
  }
}
/*sports club*/
/*desktop view*/
	 	.a
{
  text-align: center;
}
.a img{
  width: 100%;
}
    .b
    {
      top:3%;
      width:20%;
      padding-left: 40%;
  }
    .g{
      bottom:0%;
      left:0%;
      width: 100%;
    }
    ul{
      list-style-type:none;
      background-color:black;
      padding:0;
      margin:0;
      overflow:hidden;
      width:100%;
      min-height:40px;  
    }
    li{
      float:left;
      padding-top:10px;
    }
    li a{
      padding:14px 20px;
      text-decoration:none;
      color: white;
    }
    .servicescontainer{
    width: 70%;
    text-align: center;
    /flex properties/
    display: flex;
    flex-direction: row;
    margin: 1%;
  }
  .datadivision{
    width: 90%;
    margin: 1%;
    padding: 1%;
    border: 2px solid grey;
    border-radius: 5%;
    background-color: white;
    color: blue;
  }
  .datadivision img{
    width: 200px;
    height: 150px;
    border-radius: 30px;
  }
  footer
  {
    color:#0000e6;
    margin-top:5%;
    text-align: center;
    background-color: #66CC99;
    border-radius: 30px;
  }
  /*mobile view*/
   @media only screen and (min-width: 320px) and (max-width: 767px){
   		 	.a
{
  text-align: center;
}
.a img{
  width: 100%;
}
    .b
    {
      top:3%;
      width:20%;
      padding-left: 40%;
  }
    .g{
      bottom:0%;
      left:0%;
      width: 100%;
    }
    ul{
      list-style-type:none;
      background-color:black;
      padding:0;
      margin:0;
      overflow:hidden;
      width:100%;
      min-height:40px;  
    }
    li{
      float:left;
      padding-top:10px;
    }
    li a{
      padding:14px 20px;
      text-decoration:none;
      color: white;
    }
    .servicescontainer{
    width: 90%;
    text-align: center;
    /flex properties/
    display: flex;
    flex-direction: column;
    margin: 1%;
  }
  .datadivision{
    width: 95%;
    margin: 1%;
    padding: 1%;
    border: 2px solid grey;
    border-radius: 5%;
    background-color: white;
    color: blue;
  }
  .datadivision img{
    width: 200px;
    height: 150px;
    border-radius: 30px;
  }
  footer
  {
    color:#0000e6;
    margin-top:5%;
    text-align: center;
    background-color: #66CC99;
    border-radius: 30px;
  }
}
/*laptop view*/
@media only screen and (min-width: 768px) and (max-width: 1023px){
	 		 	.a
{
  text-align: center;
}
.a img{
  width: 100%;
}
    .b
    {
      top:3%;
      width:20%;
      padding-left: 40%;
  }
    .g{
      bottom:0%;
      left:0%;
      width: 100%;
    }
    ul{
      list-style-type:none;
      background-color:black;
      padding:0;
      margin:0;
      overflow:hidden;
      width:100%;
      min-height:40px;  
    }
    li{
      float:left;
      padding-top:10px;
    }
    li a{
      padding:14px 20px;
      text-decoration:none;
      color: white;
    }
    .servicescontainer{
    width: 85%;
    text-align: center;
    /flex properties/
    display: flex;
    flex-direction: column;
    margin: 1%;
  }
  .datadivision{
    width: 95%;
    margin: 1%;
    padding: 1%;
    border: 2px solid grey;
    border-radius: 5%;
    background-color: white;
    color: blue;
  }
  .datadivision img{
    width: 200px;
    height: 150px;
    border-radius: 30px;
  }
  footer
  {
    color:#0000e6;
    margin-top:5%;
    text-align: center;
    background-color: #66CC99;
    border-radius: 30px;
  }
}
/*contact us*/
/*desktop view*/
body{
	background-color: skyblue;
}
ul{
      list-style-type:none;
      background-color:black;
      padding:0;
      margin:0;
      overflow:hidden;
      width:100%;
      min-height:40px;  
    }
    li{
      float:left;
      padding-top:10px;
    }
    li a{
      padding:14px 20px;
      text-decoration:none;
      color: white;
    }
    .servicescontainer{
    width: 85%;
    text-align: center;
    /flex properties/
    display: flex;
    flex-direction: row;
    margin: 1%;
  }
  .datadivision{
    width: 95%;
    margin: 1%;
    padding: 1%;
    border: 2px solid grey;
    border-radius: 5%;
    background-color: white;
    color: blue;
  }
  .datadivision img{
    width: 200px;
    height: 150px;
    border-radius: 30px;
  }
  footer
  {
    color:#0000e6;
    margin-top:5%;
    text-align: center;
    background-color:white;
    border-radius: 30px;
  }
  /*mobile view*/
  @media only screen and (min-width: 320px) and (max-width: 767px){
  	body{
	background-color: skyblue;
}
ul{
      list-style-type:none;
      background-color:black;
      padding:0;
      margin:0;
      overflow:hidden;
      width:100%;
      min-height:40px;  
    }
    li{
      float:left;
      padding-top:10px;
    }
    li a{
      padding:14px 20px;
      text-decoration:none;
      color: white;
    }
    .servicescontainer{
    width: 90%;
    text-align: center;
    /flex properties/
    display: flex;
    flex-direction:column;
    margin: 1%;
  }
  .datadivision{
    width: 95%;
    margin: 1%;
    padding: 1%;
    border: 2px solid grey;
    border-radius: 5%;
    background-color: white;
    color: blue;
  }
  .datadivision img{
    width: 200px;
    height: 150px;
    border-radius: 30px;
  }
  footer
  {
    color:#0000e6;
    margin-top:5%;
    text-align: center;
    background-color: white;
    border-radius: 30px;
  }
}
/*laptop view*/
@media only screen and (min-width: 768px) and (max-width: 1023px){
	 	body{
	background-color: skyblue;
}
ul{
      list-style-type:none;
      background-color:black;
      padding:0;
      margin:0;
      overflow:hidden;
      width:100%;
      min-height:40px;  
    }
    li{
      float:left;
      padding-top:10px;
    }
    li a{
      padding:14px 20px;
      text-decoration:none;
      color: white;
    }
    .servicescontainer{
    width: 70%;
    text-align: center;
    /flex properties/
    display: flex;
    flex-direction:column;
    margin: 1%;
  }
  .datadivision{
    width: 95%;
    margin: 1%;
    padding: 1%;
    border: 2px solid grey;
    border-radius: 5%;
    background-color: white;
    color: blue;
  }
  .datadivision img{
    width: 200px;
    height: 150px;
    border-radius: 30px;
  }
  footer
  {
    color:#0000e6;
    margin-top:5%;
    text-align: center;
    background-color: white;
    border-radius: 30px;
  }
}